.notification {
	position: absolute;
	top: 5%;
	right: 5%;
	height: auto;
	z-index: 10;
	border: 1px solid limegreen;
	letter-spacing: 1px;
	padding: 20px;
	color: #fff;
	transition: all 1 ease-out;
	border-radius: 5px;
	text-transform: uppercase;
	background: #000;
}

.notification.info {
	border: 1px solid limegreen;
}

.notification.alert {
	border: 1px solid red;
}
